.body{
     width: 100vw;
     background-color: #003F31;
     
     
}

.title{
     text-align: center;
}

.dia{
     font-size: 4rem;
     color: #2794DA;
     text-shadow: 2px 2px 0px #000000;
     height: 2.9rem;
     

}

.main{
     background-image: url('../assets/mostra2025/SERPENTE 3.png');
}

.mes{
     font-size: 2.5rem;
     color: #F8FCFC;
     text-shadow: 2px 2px 0px #000000;
     height: 2.5rem;
     margin-bottom: .5rem;

}

.mostra{
     color: #2794DA;
     text-shadow: 2px 2px 0px #000000;
     font-size: 1.6rem;

}

.diasemana{
     color: #F8FCFC;
     text-shadow: 1px 1px 0px #000000;

}

.fundor{
     position: absolute;
     width: 4.5rem;
     object-fit: contain;
     top: 30%;
     right: 0;
     z-index: 0;
}

.fundol{
     position: absolute;
     width: 4.5rem;
     object-fit: contain;
     top: 30%;
     left: 0;
     z-index: 0;
}

