.opcoes {
     display: flex;
     gap: 10px;
     flex-direction: row;
     justify-content: center;
     
}
   


.container_flex{
    background-color: #FFFFFF;
    border-radius: 24px ;
    padding: .5em;
    width: 75vw;
    margin: .5rem auto;
    /* height: 72vh; */
    -webkit-box-shadow: 0px 0px 16px -5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 16px -5px rgba(0,0,0,1);
    box-shadow: 0px 0px 16px -5px rgba(0,0,0,1);
    position: relative;
    z-index: 10;
    margin-bottom: 2rem;
   }
   
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
   }

.title{
    font-size: 1.2rem;
    text-align: center;
    color: #fb5373;
    font-family: var(--neue-bold);
}

.opcao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
  height: 2.5rem;
  border-radius: 8px;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--bold);
}

.opcao:nth-child(1){
  background-color: #a9a9a9;
}
.opcao:nth-child(2){
  background-color: #838383;
}
.opcao:nth-child(3){
  background-color: #6a6a6a;
  color: #fff;
}
.opcao:nth-child(4){
  background-color: #444444;
  color: #fff;
}
.opcao:nth-child(5){
  background-color: #1f1f1f;
  color: #fff;
}

.opcao.selecionado {
  background-color: #FF5474;
  color: #FFF;            
}

.opcao.esmaecido {
   opacity: .5;
   background-color: #838383;
   color: #FFF;
}

.description{
  text-align: center;
  color: #000000;
  margin-top: .5rem;
  font-size: .8rem;
  font-family: var(--agradir-regular);
  margin-bottom: .5rem;
  
  
}

.movie_image {
  border-radius: .5rem;
  max-width: 100%;
  height: 150px;
  margin: auto;
  object-fit: cover;
}

.emote{
  width: 2rem;
  height: 2rem;
  display: flex;
  margin-right: 12px;
}



.footer{
  display: flex;
  justify-content: center;
}


.submitButton{
     color: #000;
     background-color: #fff;
     border-radius: 16px;
     padding: 1rem;
     margin-bottom: 1rem;
     font-size: 1.5rem;
     border: none;
     opacity: 1;
     z-index: 10;
     font-family: var(--bold);
     -webkit-box-shadow: 0px 7px 25px -5px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 7px 25px -5px rgba(0,0,0,0.75);
     box-shadow: 0px 7px 25px -5px rgba(0,0,0,0.75);
     height: 3.8rem;
}

.submitButton:hover {
  background-color: #ff547389; /* Cor do botão ao passar o mouse */
}

.submitButton:active {
 background-color: #ff547389; /* Cor mais escura ao clicar */
 transform: scale(0.95); /* Reduz ligeiramente o botão */
 box-shadow: 1px 4px 8px -4px rgba(0, 0, 0, 0.75); /* Reduz a sombra */
}


.subdescription{
  font-size: .6rem;
  text-align: center;
  font-family: var(--neue-regular);
  margin-bottom: .8rem;

}

.note{
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--bold);
  font-size: 1.4rem ;
  color: #1a3c34;
}

.sinopse{
  text-align: start;
  font-size: .77rem;
  padding: .5rem 1rem 1rem 1.4rem;
  font-family: var(--neue-regular);

}

.notecontainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 2rem;
  margin-bottom: .5rem;
}

@media (max-width: 320px){
  .title{
    font-size: .9rem;
    text-align: center;
    color: #fb5373;
    font-family: var(--bold);
}

}