.title{
     text-align: center;
     position: relative;
}

.date_container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-top: 1rem;
     gap: .2rem;
     padding: .5rem;
}

.mostra{
     color: #ffffff;
     font-size: 1.2rem;
     font-family: var(--agradir-grandheavy);
     margin-bottom: 1rem;
}

.dia{
     font-size: 1.55rem;
     color: #fff;
     height: 2.9rem;
     font-family: var(--agradir-bold);
     height: 0;
}

.mes{
     font-size: 1.55rem;
     color: #F8FCFC;
     font-family: var(--agradir-widelight);
     height: 0;
}



.diasemana{
     color: #F8FCFC;
     font-family: var(--agradir-bold);
     padding-top: 1.4rem;
     font-size: 1.55rem;
}

.art{
     margin-top: 16rem;
     object-fit: contain;

;
     
}


.logo{
     position: absolute;
     top: -80%;
     right: 0;
     padding: 1.4rem;
     width: 11rem;
     object-fit: contain;
     filter: invert(100%) brightness(300%);

}

.stars{
     position: absolute;
     top: 10%;
     left: 10%;
     z-index: 1;
}

.date{
     display: flex;
     justify-content: center;
     gap: .2rem;
}

@media (max-width: 320px){
     .logo{
          position: absolute;
          top: -4%;
          right: -3%;
          padding: 1.8rem;
          width: 11rem;
          object-fit: contain;
     }

     .mostra{
          color: #ffffff;
          font-size: 1rem;
          font-family: var(--agradir-grandheavy);
          margin-bottom: 1rem;
     }


}