.container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100%; 
     background-color: #fb5373; 
     overflow: hidden;
   }
   
   .h1 {
     margin-bottom: 20px;
     padding: 1rem;
     color: #ffffff; /* Cor do texto do título */
     text-align: center;
     font-size: 1rem;
     font-family: var(--bold);
     text-wrap: balance;
     margin-top: 2rem;
     padding: 0 5rem 0 5rem;
   }

   
   .form {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 1.2rem; 
     
   }
   
   .input {
     padding: 10px;
     border-style: none;
     border-radius: 24px; 
     width: 300px; 
     font-size: 1rem;
     text-align: center;
     font-family: var(--neue-regular);
   }
   .input::placeholder{
    color: #000;
    font-family: var(--bold);
   }
   
   .button {
    font-family: var(--bold);
    display: flex;
    justify-content: center;
     padding: .8rem .8rem .6rem .8rem;
     border: none; /* Remove a borda padrão do botão */
     border-radius: 18px; /* Bordas arredondadas */
     background-color: #000; /* Cor de fundo do botão */
     color: white; /* Cor do texto do botão */
     font-size: 16px; /* Tamanho da fonte */
     cursor: pointer; /* Muda o cursor ao passar o mouse */
     width: 50%;
     -webkit-box-shadow: 2px 9px 14px -7px rgba(0,0,0,0.75);
     -moz-box-shadow: 2px 9px 14px -7px rgba(0,0,0,0.75);
     box-shadow: 2px 9px 14px -7px rgba(0,0,0,0.75);
     z-index: 1000;
   }
   
   .button:hover {
     background-color: #d73a79; /* Cor do botão ao passar o mouse */
   }
   
   .button:active {
    background-color: #000; /* Cor mais escura ao clicar */
    transform: scale(0.95); /* Reduz ligeiramente o botão */
    box-shadow: 1px 4px 8px -4px rgba(0, 0, 0, 0.75); /* Reduz a sombra */
  }
/* Spinner */
.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;        /* Cor da borda externa */
  border-top: 3px solid #007BFF;
  border-radius: 50%;             
  animation: spin 1s linear infinite; 
}

/* Definição da animação */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Estilo do botão desativado */
.button:disabled {
  background-color: #fb5373;
  cursor: not-allowed;
  opacity: 0.7;
}



.logo{
  width: 30%;
  height: auto;
  object-fit: contain;
  position: absolute;
  top: 4%;
  right: 4%;
}

.error{
  color: #BA3368;
  font-family: var(--bold);
}


.sereia{
  position: absolute;
  width: 12rem;
  height: auto;
  left: 10%;
  top: 2%;
  z-index: 1;
  transform: rotate(190deg);
}



.bichaosol{
  position: absolute;
  width: 14rem;
  height: 10rem;
  bottom: 10%;
  margin-top: 1rem;
  z-index: 0; 
}

@media (max-width: 320px) {
  .h1 {
    margin-bottom: 20px;
    padding: 1rem;
    color: #ffffff; /* Cor do texto do título */
    text-align: center;
    font-size: .9rem;
    font-family: var(--bold);
    text-wrap: balance;
    margin-top: 2rem;
    padding: 0 5rem 0 5rem;
  }

  .input {
    padding: 10px;
    border-style: none;
    border-radius: 24px; 
    width: 300px;
    font-size: 1rem;
    text-align: center;
    font-family: var(--agradir-narrowgrandlight);
  }
}