.container{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     flex-direction: column;
     background-color: #000;

}

.title{
     font-size: 1.2rem;
     color: #fff;
     font-family: var(--agradir-wideblackitalic);
}

.subtitle{
     color: #fff;
     font-size: 1rem;
     font-family: var(--agradir-grandlight);
}