
.body{
  display: flex;
  justify-content: center;
  
}

.link{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 15rem;
}


.li{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-style: none;
  border-radius: 16px;
  transition: .3s;
  font-weight: bold;
  width: 10.68rem;
  height: 2.60rem;
  font-size: 1rem;
  font-family: var(--neue-bold);
  
}

.li:hover {
  background-color: #ffd9e8; /* Cor do botão ao passar o mouse */
}

.li:active {
 background-color: #ffd9e8; /* Cor mais escura ao clicar */
 transform: scale(0.95); /* Reduz ligeiramente o botão */
 box-shadow: 1px 4px 8px -4px rgba(0, 0, 0, 0.75); /* Reduz a sombra */
}

.logo{
  width: 200px;
  height: 200px;
  object-fit: contain;
  position: absolute;
  right: 0;
  filter: invert(100%) brightness(300%);

}

.container{
  background-color: #fb5373;
  height: 100%;
  position: relative;
}

.container_header{
  display: flex;
  position: relative;
  padding: 2rem;
}


.p1{
  font-size: .5rem;
  color: #fff;
  text-wrap: nowrap;
  font-family: var(--neue-regular);
  
}

.p2{
  font-size: .5rem;
  color: #fff;
  font-family: var(--neue-regular);
  position: absolute;
  top: 65%;
}

.arte{
  width: 18rem;
  object-fit: contain;
  padding: 1rem;
  position: absolute;
  top: 15%;
  left: -8%;
}

.rodape{
  margin-top: 6rem;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
  height: 80%;
}

.wave{
  position: absolute;
  top: 14%;
}



.headersubtitle{
  color: #fff;
  font-family: var(--bold);
  font-size: .7rem;
  padding-top: .5rem;
}

.apresenta{
  font-family: var(--neue-regular);
}

@media (max-width: 320px) {
.link{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: .9rem;
}

.logo{
  filter: invert(100%) brightness(300%);
  width: 140px;
  height: 140px;
  object-fit: contain;


}
.arte{
  width: 14rem;
  object-fit: contain;
  position: absolute;
  top: 16%;
  left: .2%;
  
}
.headersubtitle{
  font-size: .61rem;
}
}

.waiting{
  margin-left: 1rem;
}

.aguarde{
  font-family: var(--bold);
}

.votacao{
  font-family: var(--bold);
  font-size: 1rem;
  text-wrap: nowrap;
  color: #fff;

}

.termino{
  font-family: var(--bold);
  font-size: 1rem;
  text-wrap: nowrap;
  color: #fff;
}

@media (min-width: 425px) and (max-width: 768px) {
.body{
    display: flex;
    justify-content: center;
    
  }
  
.link{
    display: flex;
    justify-content: center;
    /* margin-top: 3rem; */
    list-style: none;
}

.li{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  transition: .3s;
  font-weight: bold;
  width: 11.68rem;
  height: 2.81rem;
  font-size: 1rem;
  font-family: var(--bold);
}

.logo{
  width: 140px;
  height: auto;
  object-fit: contain;
  position: absolute;
  right: 10%;

}
.arte{
  width: 20rem;
  object-fit: contain;
  padding: 1rem;
  position: absolute;
  top: 16%;
  right: 18%;
}
}