
.body{
  display: flex;
  padding: 3rem;
  justify-content: center;
}

.link{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    list-style: none;
}


.li{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-style: none;
  border-radius: 16px;
  transition: .3s;
  font-weight: bold;
  width: 11.68rem;
  height: 2.81rem;
  font-size: 1rem;
  font-family: var(--agradir-bold);
}

.li:hover {
  background-color: #ffd9e8; /* Cor do botão ao passar o mouse */
}

.li:active {
 background-color: #ffd9e8; /* Cor mais escura ao clicar */
 transform: scale(0.95); /* Reduz ligeiramente o botão */
 box-shadow: 1px 4px 8px -4px rgba(0, 0, 0, 0.75); /* Reduz a sombra */
}

.logo{
  width: 200px;
  height: 200px;
  object-fit: contain;

}

.container{
  background-color: #2895d2;
  height: 100%;
  position: relative;
}

.container_header{
  display: flex;
  position: relative;
  padding: 2rem;
}

.petro{
  position: absolute;
  top: -30%;
  width: 60%;
}


.p1{
  font-size: .5rem;
  color: #fff;
  text-wrap: nowrap;
  font-family: var(--agradir-regular);
  
}

.p2{
  font-size: .5rem;
  color: #fff;
  font-family: var(--agradir-regular);
  position: absolute;
  top: 65%;
}

.arte{
  width: 20rem;
  object-fit: contain;
  padding: 1rem;
  position: absolute;
  top: 40%;
  margin-left: .5rem;
}

.rodape{
  margin-top: 12rem;
  width: 100%;
}

@media (max-width: 320px) {
.link{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    list-style: none;
    margin-left: .9rem;
}

.logo{
  width: 140px;
  height: 140px;
  object-fit: contain;

}
.arte{
  width: 20rem;
  object-fit: contain;
  padding: 1rem;
  position: absolute;
  top: 35%;
}
}

.waiting{
  margin-left: 1rem;
}

.aguarde{
  font-family: var(--agradir-grandheavy);
}

.votacao{
  font-family: var(--agradir-bold);
  font-size: 1rem;
  text-wrap: nowrap;
  color: #fff;

}

.termino{
  font-family: var(--agradir-bold);
  font-size: 1rem;
  text-wrap: nowrap;
  color: #fff;
}

@media (min-width: 425px) and (max-width: 768px) {
.body{
    display: flex;
    padding: 3rem;
    justify-content: center;
    
  }
  
.link{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    list-style: none;
}

.li{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  transition: .3s;
  font-weight: bold;
  width: 11.68rem;
  height: 2.81rem;
  font-size: 1rem;
  font-family: var(--agradir-bold);
}

.logo{
  width: 140px;
  height: auto;
  object-fit: contain;

}
.arte{
  width: 20rem;
  object-fit: contain;
  padding: 1rem;
  position: absolute;
  top: 40%;
  right: 18%;
}
}