.container {
    background-color: #FFFFFF;
     display: flex;
     align-items: center;
     padding: 1rem;
     margin: .5rem;
     border-radius: 18px;
     /* height: 100%; */
}

.title{
     font-size: .65rem;
     margin-left: .2rem;
     color: #2895d2;
     font-family: var(--agradir-grandheavy);
}
.square {
     background-color: #2995CB;
     padding: .7rem;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 12px;
     color: #ffffff;
     border-radius: 8px;
     font-family: var(--agradir-grandheavy);

}


.description{
    font-size: 12px;
    /* margin-top: 1rem; */
    margin-left: .2rem;
    font-family: var(--agradir-regular);
}

