.container {
     background-color: #FFFFFF;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: .6rem;
     margin: 1rem;
     border-radius: 18px;
     /* height: 100%; */
     /* width: 100%; */
     z-index: 1000;
}

.title{
     font-size: .8rem;
     margin-left: .2rem;
     color: #fb5373;
     font-family: var(--bold);
}
.square {
     background-color: #fb5373;
     padding: 1rem 1rem .7rem 1rem;
     color: #ffffff;
     border-radius: 8px;
     font-family: var(--neue-bold);
     font-size: 1.3rem;

}


.description{
    /* margin-top: 1rem; */
    margin-left: .2rem;
    font-family: var(--neue-regular);
    font-size: .60rem;
    
}

.direction{
     font-size: .59rem;
     font-family: var(--neue-regular);
     margin-left: .2rem;


}

@media (max-width: 320px){

.title{
     font-size: .7rem;
     margin-left: .2rem;
     color: #fb5373;
     font-family: var(--neue-bold);
}

} 
