.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; 
  background-color: #2895D2; 
  overflow: hidden;
}

.h1 {
  margin-bottom: 20px;
  padding: 1rem;
  color: #ffffff; /* Cor do texto do título */
  text-align: center;
  font-size: 1rem;
  font-family: var(--agradir-bold);
  text-wrap: balance;
  margin-top: 2rem;
  padding: 0 5rem 0 5rem;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem; 
  
}

.input {
  padding: 10px;
  border-style: none;
  border-radius: 24px; 
  width: 300px; 
  font-size: 1rem;
  text-align: center;
  font-family: var(--agradir-narrowgrandlight);
}
.input::placeholder{
 color: #000;
 font-family: var(--agradir-bold);
}

.button {
  font-family: var(--agradir-bold);
  display: flex;
  justify-content: center;
  /* position: absolute;
  bottom: 10%;
  z-index: 2; */
  padding: .8rem .8rem .6rem .8rem;
  border: none; /* Remove a borda padrão do botão */
  border-radius: 18px; /* Bordas arredondadas */
  background-color: #BA3368; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  width: 50%;
  -webkit-box-shadow: 2px 9px 14px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 9px 14px -7px rgba(0,0,0,0.75);
  box-shadow: 2px 9px 14px -7px rgba(0,0,0,0.75);
}

.button:hover {
  background-color: #d73a79; /* Cor do botão ao passar o mouse */
}

.button:active {
 background-color: #a62958; /* Cor mais escura ao clicar */
 transform: scale(0.95); /* Reduz ligeiramente o botão */
 box-shadow: 1px 4px 8px -4px rgba(0, 0, 0, 0.75); /* Reduz a sombra */
}
/* Spinner */
.spinner {
width: 20px;
height: 20px;
border: 3px solid #fff;        /* Cor da borda externa */
border-top: 3px solid #007BFF;
border-radius: 50%;             
animation: spin 1s linear infinite; 
}

/* Definição da animação */
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/* Estilo do botão desativado */
.button:disabled {
background-color: #ba3369f9;
cursor: not-allowed;
opacity: 0.7;
}



.logo{
width: 35%;
height: auto;
object-fit: contain;
position: absolute;
top: 4%;
right: 4%;
}

.error{
color: #BA3368;
font-family: var(--agradir-bold);
}


.coral1{
position: absolute;
top: -5%;
left: -2%;
z-index: 0;
width: 10rem;
}

.luneta2{
position: absolute;
top: 8%;
left: 10%;
width: 7rem;
object-fit: contain;
z-index: 1;
}

.luneta3{
position: absolute;
top: 2%;
left: 25%;
width: 4rem;
object-fit: contain;
z-index: 1;

}

.coral2{
position: absolute;
left: -6%;
bottom: 0;
z-index: 0;
width: 8rem;
height: auto;
}

.luneta1{
position: absolute;
width: 4rem;
object-fit: contain;
left: 9%;
bottom: 15%;
z-index: 0;
}

.coral3{
position: absolute;
right: 0;
bottom: 0;
z-index: 1;
}

.flor{
position: absolute;
right: 15%;
bottom: 0;
z-index: 0;
width: 10rem;
}


@media (max-height: 500px){
  .flor{
    position: absolute;
    right: 15%;
    bottom: 0;
    z-index: 0;
    width: 5rem;
    }

    .flor{
      width: 6rem;
      right: 24%;
      bottom: -8%;
    }
    
    .coral1{
      width: 8rem;
      top: -10%;
    }

    .coral2{
      width: 7rem;

    }

    .coral3{
      width: 10rem;
      bottom: -2%;
      
    }

    .logo{
      width: 5rem;
    }
    .luneta1{
      width: 3rem;
      left: 10%;
    }
    .luneta2{
      width: 5rem;

    }
    .luneta3{
      width: 3rem;
      top: 0;
    }
}

@media  (min-height:501px) and (max-height: 580px){
 .flor{
  width: 7rem;
  bottom: -6%;
 }
 .coral3{
  width: 8rem;
  bottom: -5%;
 }
 .coral2{
  width: 6rem;
 }
 .luneta1{ 
  width: 3rem;
  bottom: 10%;
 }
 .luneta2{
  width: 6rem;
  left: 15%;
  top: 12%;
 }
.luneta3{
  width: 3.5rem;
}
}


@media (max-width: 320px) {
.h1 {
 margin-bottom: 20px;
 padding: 1rem;
 color: #ffffff; /* Cor do texto do título */
 text-align: center;
 font-size: .9rem;
 font-family: var(--agradir-bold);
 text-wrap: balance;
 margin-top: 2rem;
 padding: 0 5rem 0 5rem;
}

.input {
 padding: 10px;
 border-style: none;
 border-radius: 24px; 
 width: 300px;
 font-size: 1rem;
 text-align: center;
 font-family: var(--agradir-narrowgrandlight);
}
}

@media (max-height: 423px) and (max-width: 410px){
  .flor{
    width: 3rem;
    bottom: -15%;
   }
   .coral3{
    width: 7rem;
    bottom: -7%;
   }
   .coral2{
    width: 6rem;
   }
   .luneta1{ 
    width: 3rem;
    bottom: 10%;
   }
   .luneta2{
    width: 4rem;
    left: 10%;
    top: 12%;
   }
  .luneta3{
    width: 3rem;
  }
  .input{
    width: 14rem;
  }
}