.container{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     flex-direction: column;
     background-color: #00A343;
}

.title{
     font-size: 1.2rem;
     color: #000000;
     font-family: var(--agradir-grandheavy);
}

.subtitle{
     color: #fff;
     font-size: 1.2rem;
     font-family: var(--agradir-grandheavy);
}


.logo{
     position: absolute;
     top: 4%;
}

.flor{
     position: absolute;
     bottom: 3%;
     left: 20%;
     width: 12rem;
     transition: 1s;
}

.button{
     text-align: center;
     padding: 1rem;
     background-color: #000000;
     color: #FFF;
     border-radius: 18px;
     font-family: var(--agradir-bold);
     width: 30%;
     margin-top: 2rem;
     -webkit-box-shadow: 2px 9px 14px -7px rgba(0,0,0,0.75);
     -moz-box-shadow: 2px 9px 14px -7px rgba(0,0,0,0.75);
     box-shadow: 2px 9px 14px -7px rgba(0,0,0,0.75);
     z-index: 1000;
}

.text{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 1rem;
}


.manganga{
     position: absolute;
     bottom: 0;
     width: 18em;
     object-fit: cover;
     padding: 2rem;
}
